<div class="container"
    fxlayout="row"
    fxLayout.xs="row"
    fxLayoutAlign="center center"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0"
    class="app-home-nav">
    <div fxFlex="15%" fxHide.sm="true" fxHide.xs="true" fxFlexOrder="1" fxLayout="row" fxLayoutAlign="left center">
        <mat-icon>menu</mat-icon>
        <a routerLink="/home" style="margin-left:20px"> KMEAL EATS</a>
    </div>
    <div fxFlex="70%" fxFlex.sm="85%" fxFlex.xs="85%" fxFlexOrder="2">
        <search-bar></search-bar>
    </div>
    <div fxFlex="15%" fxHide.sm="false" fxHide.xs="false" fxFlexOrder="3" fxLayout="row" fxLayoutAlign="left center">
        <a routerLink="/login" *ngIf="!isLoggedIn">LOGIN</a>
        <div *ngIf="isLoggedIn">
            <mat-icon [matMenuTriggerFor]="menu" style="margin-right:12px; margin-top:4px">person</mat-icon>
            <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="/profile">Profile</button>
                <button mat-menu-item>Settings</button>
                <button mat-menu-item>Log Out</button>
            </mat-menu>
        </div>
        <mat-icon (click)="openCart()"  matBadge="15" matBadgeColor="warn">shopping_cart</mat-icon>
    </div>
</div>