.navbar-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px 16px;

  > .mat-button {
    &:last-child {
      margin-left: auto;
    }
  }
}

.flex-spacer {
  flex-grow: 1;
}

.angular-logo {
  height: 26px;
  margin: 0 4px 3px 0;
  vertical-align: middle;
}

.github-logo {
  height: 21px;
  margin: 0 7px 2px 0;
  vertical-align: middle;
}

.navbar-link {
  text-decoration: inherit;
  flex: 1;
}

.navbar {
  display: none;
}

.navbar-show-small {
  display: none;
}


.actions {
  flex:1;
  text-align:right;

  .action {
      cursor: pointer;
      display:inline-block;
      font-weight: bold;
      line-height:13px;
      font-size: 13px;
      margin-left:30px;
      transition: all 0.2s ease;
      transition-property: color, padding, border;

      &.scatter {
          text-align:center;
          vertical-align: middle;

          .name {
              display: block;
          }

          .balance {
              display: block;
              font-size: 11px;
              color:blue;
          }
      }

      &.router-link-active {
          color:blue;
      }

      select {
          outline:0;
          background:#fff;
          height:30px;
          padding:0 6px;
          border-radius:5px;
          border:1px solid rgba(0,0,0,0.1);
          font-size: 11px;
      }
  }
}

/**
  * Rules for when the device is detected to be a small screen.
  * Moves content two rows instead of one.
  */
@media (max-width: 720px) {
  .navbar-hide-small {
    display: none;
  }

  .navbar-show-small {
    display: block;
  }

  .navbar {
    display: flex;
  }

  .navbar--github-logo {
    margin: 0;
  }
}


