<!-- TODO: figure out if the <nav> should go inside of a <header> element. -->
<nav class="navbar-header" >
    <a mat-button class="button" routerLink="/" aria-label="Kmeal restaurant">
        <!-- <img class="angular-logo"
            src="../../../assets/img/homepage/angular-white-transparent.svg"
            alt="angular"> -->
        <span>KMEAL</span>
    </a>
    <a mat-button class="navbar-hide-small button" *ngFor="let key of sectionKeys" [routerLink]="key">{{sections[key].name}}</a>
    <div class="flex-spacer"></div>

    <a mat-icon-button class="button navbar-hide-small" routerLink="/profile" *ngIf="!scatter.logged">LOGIN</a>
    <div class="button navbar-show-small" *ngIf="scatter.logged">
        <mat-icon [matMenuTriggerFor]="menu" style="margin-top:5px">person</mat-icon>
    </div>
</nav>
<nav class="navbar navbar-show-small">
    <a mat-button class="navbar-link" *ngFor="let key of sectionKeys" [routerLink]="key">{{sections[key].name}}</a>
</nav>

<!--    

<div class="container" fxlayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" fxLayoutGap.xs="0" class="kmeal-nx-home-nav">
    <div fxFlex="20px" fxFlex.sm="20px" fxFlex.xs="20px" fxFlexOrder="1">
        <mat-icon (click)="toggleSideNav()">menu</mat-icon>
    </div>
    <div fxFlex="200px" fxHide.sm="true" fxHide.xs="true" fxFlexOrder="2">
        <a routerLink="/home"><img style="display:inline-block;width:120px;height:127px;margin-top:8px" src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/76ab2e19585305.562dce0bcf645.png" alt=""></a>
    </div>
    <div fxFlex="65%" fxFlex.sm="70%" fxFlex.xs="70%" fxFlexOrder="3">

    </div>
    <div fxFlex="20%" fxFlex.sm="20%" fxFlex.xs="20%" fxFlexOrder="4" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="20px">
        <a routerLink="/profile" *ngIf="!scatter.logged">LOGIN</a>
        <div *ngIf="scatter.logged">
            <mat-icon [matMenuTriggerFor]="menu" style="margin-top:5px">person</mat-icon>
        </div>
    </div>
</div> -->