@import 'scss/index';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'scss/404';

$btn-size:                100px;
$btn-arrowsize:           $btn-size / 4;

// Button colors
$btn-color:               hotpink;
$btn-bg:                  rgb(255, 255, 255);
$btn-border:              rgb(238, 188, 213);

// Button hover colors
$btn-hover-color:         rgb(245, 244, 244);
$btn-bg-hover:            rgb(49, 49, 49);
$btn-hover-border-color:  rgb(49, 49, 49);

body{
    font-family: 'Source Sans Pro', sans-serif;
}

div.tile {
    box-shadow: none !important;
}

.mat-card{
    border-radius: 0 !important;
}

.leftRs {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    border-radius: 999px;
    left: 0;
}

.rightRs {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    border-radius: 999px;
    right: 0;
}


.arrowbtn {
    position: absolute;
    width: 50px;
    height: auto;
    background: $btn-bg;
    border: 0px solid $btn-border;
    opacity:0.6;
    color: $btn-color;
    cursor: pointer;
    top: 0;
    bottom: 0;
    line-height: 50;
    margin:auto;
    transition: all 0.25s ease-in-out;
    border-top:0;
    border-bottom:0;
    &:hover {
      background: $btn-bg-hover;
      border-color: $btn-hover-border-color;
      color: $btn-hover-color;
      opacity:0.8;
    }
    &:after {
      position: absolute;
      display: inline-block;
      content: "";
      width: $btn-arrowsize;
      height: $btn-arrowsize;
      top: 50%;
      left: 50%;
    }
  }

.arrowbtn-left {
    left:0;
    border-left:0;
  &:after {
    margin-left: -($btn-arrowsize * .25);
    margin-top: -($btn-arrowsize * .5);
    border-top: 1px solid;
    border-left: 1px solid;
    transform: rotateZ(-45deg);
  }
}

.arrowbtn-right {
  right:0;
  border-right:0;
  &:after {
    margin-left: -($btn-arrowsize * .65);
    margin-top: -($btn-arrowsize * .5);
    border-bottom: 1px solid;
    border-right: 1px solid;
    transform: rotateZ(-45deg);
  }
}