@import '~@angular/material/theming';
@import './variables';

@include mat-core();
$my-theme-primary:mat-palette($mat-indigo);
$my-theme-accent:mat-palette($mat-pink);
$my-theme-warn:mat-palette($mat-red);

$my-theme: mat-light-theme(
  $my-theme-primary,
  $my-theme-accent,
  $my-theme-warn
);

.base-theme{
  @include angular-material-theme($my-theme);
}