
<kmeal-nx-nav-bar (toggleSidenavEvent)="drawer.toggle($event)"></kmeal-nx-nav-bar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <div class="leftSidenavContent">
        <mat-nav-list>
          <mat-list-item routerLink="/">
              <mat-icon mat-list-icon>dashboard</mat-icon>
              <p mat-line> Dashboard</p>
          </mat-list-item>
            <mat-list-item routerLink="/orders">
              <mat-icon mat-list-icon> history </mat-icon>
              <p mat-line> Orders</p>
          </mat-list-item>
          <mat-list-item routerLink="/menu">
              <mat-icon mat-list-icon>restaurant_menu</mat-icon>
              <p mat-line> Menus</p>
          </mat-list-item>
            <mat-list-item routerLink="/settings">
              <mat-icon mat-list-icon>settings</mat-icon>
              <p mat-line> Settings</p>
          </mat-list-item>
        </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
     <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
