.capsule{
    display: inline-block;
    padding:5px;
    background-color:lightgray;
    border-radius: 10px;
    color:white;
    margin-right: 10px;
    margin-bottom:10px;
    min-width: 30px;
}

.capsule:hover{
    color:black;
    background-color: gray;
}