<form action="">
    <mat-dialog-content>    
        <h1 mat-dialog-title>Your Order</h1>
        <div fxLayout='row' fxLayoutAlign="left center">
            <mat-icon fxFlex="20%">cancle</mat-icon>
            <div fxFlex="60%">
                my order 1
                <div> add on</div>
                <div> blah blah</div>
                <div> blah blah</div>
            </div>
            <div fxFlex="20%">
                $11.9
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button mat-dialog-close [mat-dialog-close]="'close'">Cancel</button>
        <button mat-flat-button color="warn" [mat-dialog-close]="'order'">Add to Cart $16.99</button>
    </mat-dialog-actions>

</form>