<mat-card class="mat-elevation-z0"  (click)="goToRestaurant()">
    <img mat-card-image [attr.src]="res.img" style="height:160px">
    <h4><small>{{res.restaurantName}}</small></h4>
    <mat-card-subtitle>
        <span>{{res.priceLevel}} </span>
        <span *ngFor="let label of res.lables" style="margin-right:5px">{{label}} &#8226; </span>
        <br>
        <p><small>{{res.address.line}}</small>  </p>
    </mat-card-subtitle>
    <mat-chip-list>
        <mat-chip>Papadum</mat-chip>
        <mat-chip>4.5 <mat-icon >star</mat-icon></mat-chip>
        <mat-chip>{{res.distance}}</mat-chip>
    </mat-chip-list>
</mat-card>


