<nav-bar (toggleSidenavEvent)="snav.toggle($event)"></nav-bar>

<mat-sidenav-container>
        <mat-sidenav 
          #snav 
          [mode]="(mobileQuery.matches && !isHome) ? 'over' : (mobileQuery.matches) ? 'over':'side'"
          [fixedInViewport]="mobileQuery.matches" 
          opened="true"
          style="background: #F3F3F3;"
          class="shadow_right" 
          autosize>
          <cdk-virtual-scroll-viewport [itemSize]="1" >
            <div class="leftSidenavContent" fxLayout="column" fxFlexFill>
            <mat-list fxFlex="100%">
              <h3 mat-subheader>Folders</h3>
              <mat-list-item >
                <mat-icon mat-list-icon>settings</mat-icon>
                <p mat-line> Settings</p>
              </mat-list-item>
              <mat-list-item >
                  <mat-icon mat-list-icon>settings</mat-icon>
                  <p mat-line> Some other settings</p>
              </mat-list-item>
              <mat-divider></mat-divider>
              <h3 mat-subheader>Notes</h3>
              <mat-list-item >
                <mat-icon mat-list-icon>note</mat-icon>
                <p mat-line> blo </p>
              </mat-list-item>
            </mat-list>
          </div>
          </cdk-virtual-scroll-viewport>
        </mat-sidenav>
          <!-- MENU LEFT -->

        <mat-sidenav-content class="mat-content-class">
            <ng-content select=".main-content"></ng-content>
        </mat-sidenav-content>
    
</mat-sidenav-container>

<footer-bar></footer-bar>