<div *ngIf="!isAddressSet; else app">
    <kmeal-nx-welcomepage></kmeal-nx-welcomepage>
    <kmeal-nx-footer-bar></kmeal-nx-footer-bar>
</div>

<ng-template #app>
    
    <mat-toolbar class="mat-elevation-z0" >
        <kmeal-nx-nav-bar (toggleSidenavEvent)="snav.toggle($event)" class="custom-toolbar"></kmeal-nx-nav-bar>
    </mat-toolbar>
    <mat-sidenav-container >
        
        <mat-sidenav #snav 
            [mode]="(mobileQuery.matches && !isHome) ? 'over' : (mobileQuery.matches) ? 'over':'side'" 
            [fixedInViewport]="true" [fixedTopGap]="64" opened style="width:300px">
            <div class="leftSidenavContent" fxLayout="column" fxFlexFill>
                <mat-list fxFlex="100%">
                    <mat-list-item>
                        <mat-icon mat-list-icon>history</mat-icon>
                        <p mat-line> Orders </p>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon mat-list-icon>contact_support</mat-icon>
                        <p mat-line> Help </p>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon mat-list-icon>settings</mat-icon>
                        <p mat-line> Settings </p>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <h3 mat-subheader>Notes</h3>
                    <mat-list-item>
                        <mat-icon mat-list-icon>note</mat-icon>
                        <p mat-line> blo </p>
                    </mat-list-item>
                </mat-list>
            </div>
        </mat-sidenav>
        <!-- MENU LEFT -->

        <mat-sidenav-content>
            <div class="main-content">
                <router-outlet></router-outlet>
            </div>
            <kmeal-nx-footer-bar></kmeal-nx-footer-bar>
        </mat-sidenav-content>
    </mat-sidenav-container>
    
</ng-template>