<h3>Check Out</h3>
<br>

<div fxLayout="row">
    <div fxFlex="50%">
            <mat-card>
                    <h3>Indian Diner</h3>
                    <mat-card-content>
                            <p>776 west 54th Ave, New York, NY 11989</p>
                    </mat-card-content>
                </mat-card>
    </div>
    <div fxFlex="50%">
 
            <mat-card>
                <h3>Your Order(s)</h3>
                <mat-card-content>
                    1. Some Dish
                </mat-card-content>
            </mat-card>

    </div>
</div>